body{ /*FONTE DO SITE TODO, Não é recomendavel, mas nesse site aqui não precisa de fontes diferentes mesmo. lol*/
    font-family: monospace;
    background-color: black;
    margin: 0;
}

h1{
    color: white;
    text-decoration: none; 
    font-style: normal;
    font-size: 4vh;
}

a{
    color: white;
    text-decoration: none; 
    font-style: normal;
    font-size: 2.5vh;
}

/*CSS DO MENU*/
.menu{ /*CSS DO CONTAINER*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*A TELA TODA, OU SEJA É PRA CENTRALIZAR NO MEIO DA TELA TODA*/
    gap: 10vh; /*ESPAÇAMENTO ENTRE OS DOIS CONTAINERS*/
}

/*CSS DO MENU ESQUERDO*/
.lateral-esquerda{ /*CSS DA LATERAL ESQUERDA COM A HOVER EMBAIXO*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 5vh;
    height: 75%; /*Altura*/
    width: 25%; /*Largura*/
    filter: drop-shadow(0 0 10px white);
    animation: brilho 3s infinite alternate;
    animation-duration: 750ms;
    transition: filter 0.5s ease-in-out; /*EFEITO DO SAIR DA LUZ DE FUNDO*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 1vh;
    padding: 0vh 1.5vh 0vh 1.5vh;
    margin-bottom: 1vh;
}

#dev{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 1vh;
    padding: 0% 7% 0% 7%;
    font-weight: bolder;
}

.lateral-esquerda #perfil{
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 60%;
    height: 30%;
    width: 50%;
    margin: 0% 2.5vh 2.5vh;
    transition: filter 0.5 ease-in-out;
}

.lateral-esquerda #perfil img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lateral-esquerda button{
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 2vh;
    margin: 1vh;
    height: 10.5%; /*Altura*/
    width: 55%; /*Largura*/
    box-sizing: border-box;
    transition: filter 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

#github{
    background-image: url(../assets/github.png);
    background-position: 1vh;
    background-size: 6vh;
    background-repeat: no-repeat;
}

#github:hover{
    background-color: rgb(50, 50, 50);
    filter: drop-shadow(0 0 5px white);
}

#linkedin{
    background-image: url(../assets/linkedin.png);
    background-position: 1vh;
    background-size: 6vh;
    background-repeat: no-repeat;
}

#linkedin:hover{
    background-color: rgb(50, 50, 50);
    filter: drop-shadow(0 0 5px white);
}

#instagram{
    background-image: url(../assets/instagram.png);
    background-position: 1vh;
    background-size: 6vh;
    background-repeat: no-repeat;
}

#instagram:hover{
    background-color: rgb(50, 50, 50);
    filter: drop-shadow(0 0 5px white);
}

/*CSS DO MENU DIREITO*/
.menu-principal{ /*CSS DO MENU PRINCIPAL COM A HOVER EMBAIXO*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 5vh;
    height: 75%; /*Altura*/
    width: 35%; /*Largura*/
    animation: brilho 3s infinite alternate;
    animation-duration: 750ms;
    transition: background-color 0.2s ease-in-out;
}

.menu-principal button{
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 2vh;
    margin: 1vh;
    height: 12.5%; /*Altura*/
    width: 60%; /*Largura*/
    box-sizing: border-box;
    transition: filter 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.menu-principal button:hover{
    background-color: rgb(50, 50, 50);
    filter: drop-shadow(0 0 5px white);
}

@keyframes brilho{
    0%{ filter: drop-shadow(0 0 10px white );}

    50%{filter: drop-shadow(0 0 15px white);}

    100%{filter: drop-shadow(0 0 10px white );}
}
